@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
  }
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
.enable-select {
    -webkit-user-select: text;
    -ms-user-select: text; 
    user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
}


body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: #f5f5f5;
    height:100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.background{
    background-image: url('../img/background-2.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.taskbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 100;
}

.taskbar > .start-icon:hover{
    background-color: #0053bf;
}
.taskbar > .start-icon:active{
    background-color: #00275b;
}
.taskbar > .start-icon > img{
    display: flex;
    height: 50px;
    margin: 0 10px;
}
.taskbar > .shell {
    position: absolute;
    bottom: 0px;
    left: 25%;
}
.taskbar > .time > p{
    display: flex;
    right: 0;
    bottom:0;
    color: #ffffff;
    font-size: 20px;
    margin: 0 50px 0 20px;
}
/*shortcut and desktop icon*/
.shortcut{
    position:absolute;
    width:50px;
    height:50px;
    margin-top:10px;
    margin-left:10px;
}
.shortcut:hover{
    top:-1px;
    left:-1px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: #006eff92;
    border-radius: 2px;
}
.shortcut:active{
    background-color: #0053bfac;
}
.app-title{
    color:white;
    font-size:16px;
}
.shortcut:hover > div.app-title{
    background-color:#2800b7ac;
    border-radius: 2px;
}
.icon{
    width:50px;
    height:50px;
}
.small-icon{
    width:20px;
    height:20px;
}
.window{
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid black;
    min-width: 400px;
    min-height: 100px ;
    height:150px;
    max-width: 100%;
    max-height: calc(100% - 50px);
    overflow: hidden;
    resize: both;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index:1;
}
.maximized{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    margin: 0;
    height:100% !important;
    width:100% !important;
    resize: none;
}
.window > .titlebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.window > .titlebar > p{
    position: absolute;
    color: #ffffff;
    top:-10px;
    left:calc(50% - 50px);
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-overflow: ellipsis;
}
.window > .titlebar > p >img{
    position:relative;
    top:4px;
}
/*Windows buttons hover/active*/
.window > .titlebar > .group-buttons > div:hover{
    background-color: rgb(0, 83, 191);
}
.window > .titlebar > .group-buttons > div:active{
    background-color: #00275b;
}
/* Fixes to adjusts the window buttons*/
.window > .titlebar > .group-buttons > .button{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin: 2px 5px;
    text-align: center;
    padding: 3px;
    vertical-align: middle;
    background-color: #006eff;
    border-radius: 50%;
    border: 1px solid black;

}
.group-buttons > .maximize{
    position: absolute;
    top: 0;
    left: 60px;
    background-color: #006eff;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
}
.group-buttons > .close{
    position: absolute;
    top: 0;
    left: 0;
}
.group-buttons > .minimize{
    position: absolute;
    top: 0;
    left: 30px;
}

/*Content of the Shell Window */
.window > .content{
    position: absolute;
    top: 30px;
    left: 0;
    min-height:120px;
    min-width:300px;
    height:calc(100% - 30px);
    width:100%;
    /*background-color: #ffffff;*/
    background-color: #585858;
    background-color: #00275bb8;
    color:white;
    word-wrap: break-word;
    overflow: auto;
}
/*Finally found a way to make a new child on enter! display: list-item*/

.window > .content> .commands > div{
    margin: 0 2px;
}

/*crashes*/
.bluescreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000ff;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
}
.bluescreen > div{
    margin-left:10%;
    
    margin-bottom:1%;
}
.sad-face{
    margin-top: 10%;
    font-size: 150px;
}
.error{
    font-size: 40px;
}
.error-code{
    font-size: 20px;
}
.error-message{
    font-size: 20px;
}
.restart{
    cursor: pointer;
    color: #00ff00;
    font-size: 20px;
}